# WEEK 9 (04 December)

### Objectives
* Find dataset with population density $\checkmark$
* Think about how to apply a *renormalisation* of the OD matrix (one way is finding the pairs of nearest neighbours and rearranging the ODM so that neighbours are consecutive elements in the matrix; this results in a matrix with 0 elements only along the diagonal and lots of quadrants that need to be reduced to one element.

### Notes
Found dataset with population density in 20 countries with a resolution of 5 meters, but too big (~3GB), so will start from a smaller one with UK wards data only: https://data.cdrc.ac.uk/dataset/cdrc-2011-population-weighted-centroids-gb

### To Do
* Figure out how to use dataset: need to open TIFF file as Numpy array $\checkmark$
* Figure out how to find distance
* Perform clustering
* Apply model to find flow

### Meeting
* hierarachical agglomerative clustering:

In [4]:
import numpy as np
import pandas 
from hm.analysis import random_tripoint as rt
from hm.analysis import plots
from hm.pop_models.pop_explicit import explicit as pop_explicit
from hm.hm_models.gravity import gravity
from hm.hm_models.radiation import radiation
from matplotlib import pyplot as plt
from scipy.cluster import hierarchy as hier
import importlib
importlib.reload(plots)

In [6]:
df = pandas.read_csv("/Users/Ilaria/Documents/Imperial/MSci_Project/Code/human_mob/data/CDRC/england_welsh_scotland_pwc2011.csv")
df

,CODE,Name,TotPop2011,HouPop2011,HHCnt2011,Easting,Northing
0,S01006506,Culter - 01,872,852,424,383772,800512
1,S01006507,Culter - 02,836,836,364,383624,801298
2,S01006508,Culter - 03,643,643,340,383495,800782
3,S01006509,Culter - 04,580,580,274,383855,801018
4,S01006510,Culter - 05,644,577,256,384068,801031
5,S01006511,Culter - 06,751,749,315,384453,800914
6,S01006512,Culter - 07,519,496,170,382439,801986
7,S01006513,"Cults, Bieldside and Milltimber West - 01",648,568,230,386152,801879
8,S01006514,"Cults, Bieldside and Milltimber West - 02",1043,940,339,385604,801505
9,S01006515,"Cults, Bieldside and Milltimber West - 03",762,762,271,385866,802226
10,S01006516,"Cults, Bieldside and Milltimber West - 04",540,467,185,386619,801737
11,S01006517,"Cults, Bieldside and Milltimber West - 05",1014,1014,403,388771,803406
12,S01006518,"Cults, Bieldside and Milltimber East - 01",627,627,247,387830,802667
13,S01006519,"Cults, Bieldside and Milltimber East - 02",865,807,281,388143,802936
14,S01006520,"Cults, Bieldside and Milltimber East - 03",729,729,222,387542,802981
15,S01006521,"Cults, Bieldside and Milltimber East - 04",664,663,243,390195,803724
16,S01006522,"Cults, Bieldside and Milltimber East - 05",574,574,218,389522,803481
17,S01006523,"Cults, Bieldside and Milltimber East - 06",941,941,427,389426,803264
18,S01006524,"Cults, Bieldside and Milltimber East - 07",914,711,314,389121,802788
19,S01006525,"Cults, Bieldside and Milltimber East - 08",798,798,339,388518,802839
20,S01006526,Garthdee - 01,902,902,439,391280,803507
21,S01006527,Garthdee - 02,683,674,286,391473,803391
22,S01006528,Garthdee - 03,1034,981,433,391829,803472
23,S01006529,Garthdee - 04,896,892,496,392521,803936
24,S01006530,Garthdee - 05,755,748,356,392331,803614
25,S01006531,Garthdee - 06,959,955,429,391978,803525
26,S01006532,"Braeside, Mannofield, Broomhill and Seafield E...",744,703,337,392706,804297
27,S01006533,"Braeside, Mannofield, Broomhill and Seafield E...",712,694,305,392080,804446
28,S01006534,"Braeside, Mannofield, Broomhill and Seafield E...",910,910,398,392547,804700
29,S01006535,"Braeside, Mannofield, Broomhill and Seafield E...",1038,1038,564,392903,804730
...,...,...,...,...,...,...,...
41699,W01000224,Denbighshire 009C,1402,1402,610,302733,378290
41700,W01001933,Gwynedd 017F,2243,2227,1151,262911,300280
41701,W01001931,Wrexham 012G,1368,1331,639,333980,350246
41702,W01000610,Pembrokeshire 016A,1710,1619,751,211808,200462
41703,W01000103,Gwynedd 005D,1233,1233,527,256543,369399
41704,W01000180,Conwy 008C,1682,1598,599,284472,378143
41705,W01000060,Gwynedd 015B,1345,1337,624,277247,309536
41706,W01000565,Pembrokeshire 002B,1873,1827,891,195867,237024
41707,W01001912,Newport 020E,1480,1476,648,329163,184089
41708,W01001918,Bridgend 017E,1593,1593,536,288476,179232
41709,W01000789,Swansea 016E,1423,1423,640,265683,195457
41710,W01001128,The Vale of Glamorgan 001C,1439,1439,599,290940,173466
41711,W01001228,Rhondda Cynon Taf 021D,1502,1489,662,307150,190695
41712,W01000942,Neath Port Talbot 012C,1887,1887,782,276065,196201
41713,W01001727,Cardiff 014A,1140,1109,462,308130,181579
41714,W01000332,Flintshire 009A,1568,1568,645,333558,368932
41715,W01001857,Cardiff 042C,1856,1790,843,316973,176275
41716,W01001187,Rhondda Cynon Taf 001B,1393,1389,574,295787,205868
41717,W01001067,The Vale of Glamorgan 009A,1380,1364,648,313402,169399
41718,W01001065,The Vale of Glamorgan 012B,1595,1592,642,312064,168494
41719,W01001200,Rhondda Cynon Taf 014A,1009,991,420,299230,193390
41720,W01000923,Neath Port Talbot 007D,1472,1472,651,273650,197950
41721,W01000174,Conwy 003C,1702,1694,745,281942,381446
41722,W01000175,Conwy 003D,1632,1632,799,282074,381381
41723,W01000397,Wrexham 020I,1045,1045,412,336027,355111
41724,W01000417,Wrexham 020D,1568,1568,640,337219,357362
41725,W01000499,Powys 003B,1290,1202,555,322961,307752
41726,W01001833,Cardiff 033D,1626,1543,716,319632,177494
41727,W01000779,Swansea 012D,1540,1540,597,258678,196071
41728,W01001047,Bridgend 018D,1674,1669,757,281608,177323

In [7]:
x = np.array(df)[:,5][40000:41500]
y = np.array(df)[:,6][40000:40500]
m = np.array(df)[:,2][40000:40500]
xy = np.array([x, y])
mxy = np.array([x, y, m])
xy = np.transpose(xy)
mxy = np.transpose(mxy)
p = pop_explicit(xy, m)

In [9]:
alpha, beta, gamma = 1, 1, 0.2
g = gravity(p, alpha, beta, gamma, exp=True)